.bread-crumbs {
    text-align: center;
    font-size: 14px;
    position: relative;
    top: 20px;
    right: 13px;
    color: #535F5F;
}

.title {
    text-align: center;
    font-size: 28px;
    color: #057D88;
}

.bread-crumbs-container {
    width: 65%;
}

.container {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}